/* *,
*::before,
*::after {
	box-sizing: border-box;
}*/

body{
	position: relative;
}


main{
	background-color: black;
	height: auto;
	width: auto;
}

header {
	background-color: #fecb00;
	width: auto;
	text-align: center;
	border: 3px solid black;
}

.logo-container {
	display: flex;
	background-color:aquamarine;
	height: 70px;
	width: 70px;
	border: 3px solid black;
}

.logo-container img{
	cursor: pointer;

}

.nav-container {
	display: flex;
	border: 3px solid black;

}
  
.nav-container ul {
	width: auto;
	cursor: pointer;
	border-left: 1px solid white;
	padding-left: 15px;
	padding-right: 15px;
}
  
.nav-container a {
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline-flex;

}
  
.nav-container li a {
	color: black;
	min-width: 80px;
}
  
#menu {
	float: right;
}

